django
python-decouple
daphne
pillow

openai
langchain
langchain-openai
langchain-google-genai
google-generativeai
langchain_community
google-generativeai

python-dotenv

PyPDF2

psycopg2-binary
psycopg2

celery
redis
django-celery-beat
django-celery-results

WebSockets
channels
channels-redis

matplotlib
seaborn
plotly
django-plotly-dash 

requests
numpy
pandas
tqdm
faker
scikit-learn